@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Space+Grotesk:wght@300..700&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Space Grotesk';


}

body{
    /* font-size: 3vw; */
    background-color: #FEFFF0;
   
}

nav{
    border-bottom: 2px solid black;
    height: 7vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Space Grotesk';
    font-weight: 500;
    overflow-y: hidden;
    
}

.nav-cont{
    display:  flex;
    flex-direction: row;
    align-items: center;
    height: 8vw;



}

#logo-cont{
    display: flex;
    column-gap: 1vw;
}

#logo{
    width: 1.3vw;
}

#star-1{
    width: 8vw;
    margin-left: 95vw;
    position: absolute;
    margin-top: -8.5vw;
    
}

#star-2{
    width: 8vw;
    position: absolute;
    margin-top: -4.2vw;
    margin-left: -4vw;
}

.nav-content{
    border: 1px solid black;
    padding: 8px;
    background-color: #FFFFFF;
}
a{
    text-decoration: none;
    color: black;
}


.hero{
    /* border: 1px solid black ; */
    padding-left: 9vw;
    padding-bottom: 3vw;
    display: flex;
    justify-content: space-around;
}

#smiley{
    width: 10vw;
}
.hero-content{
    margin-top: 4vw;
    display: flex;
    flex-direction: column  ;
    row-gap: 2.5vw;

}

    #squad-photo{
        margin-top: 5vw;
        width: 40vw;
    
    }
    /* #squad-photo-container{
        height: 100%;
        overflow-y: hidden;
    } */


#squad-photo-container img{
    height: 100%;
}
#title{
    font-size: 2vw;
}

#members-button{
    width: 15vw;
    height: 4vw;
    background-color: #BAE6FF;
    border-radius: 40px;
    border: 3px solid black;
    font-weight: 900;
    font-size: 1.4vw;
}

#members-button:hover{
    cursor:pointer;
}

#highlight{
    background-color: yellow;
    width: 2vw;
    background-position-x: 10vw;
}


.road {
    background-color: black;
    height: 4vw;
    margin-top: 3vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
    position: relative;
}

.road {
    background-color: black;
    height: 4.7vw;
    margin-top: 3vw;
    overflow: hidden;
    position: relative;
}

.strip-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 200%; 
    animation: move-strips 10s linear infinite; 
}

.strip {
    border: 2px solid white;
    width: 5vw;
    margin-right: 10vw; 
}


@keyframes move-strips {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-50%); 
    }
}

#statistics-title{
    margin-left: 2vw;
    margin-top: 2vw;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: repeat(3, 1fr); */
    /* gap: 0px 0px; */
    /* width: 300px; */
    /* height: 300px; */
    border: 2px solid black;
    margin-top: 2vw;
}

.grid-item {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    height: 4vw;
    border: 1px solid black;
    height: 40vw;
    padding: 0;
    row-gap: 3vw;
}

.item1-content{
    width: 100%;
    border-bottom: 1px solid black;
    
}

.item1-content >.span{
    margin-left: 2vw;
    margin-top: 4vw;
}


.card {
    /* width: 30vwvw; */
    width: 25vw;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    border: 2px solid black;
    /* position: relative; */
    box-shadow: 5px 5px 0px 0px black; /* Simulating an overlapping border */
    overflow: hidden;
    height: 28vw;
    /* margin-top: -9vw; */
  }
  
  .image-container {
    border: 5px solid white;
    border-radius: 10px;
    box-shadow: 0 0 0 2px black; /* Border overlapping effect */
    margin-bottom: 15px;
  }
  
  .image-container img {
    width: 100%;
    height: auto;
    /* display: block; */
    border-radius: 10px;
  }
  
  .content h3 {
    margin: 0;
    font-size: 18px;
  }
  
  .content p {
    margin: 5px 0 0;
    font-size: 14px;
  }
  
  .arrow {
    /* position: absolute; */
    right: 10px;
    bottom: 10px;
    font-size: 20px;
    background-color: rgb(0, 0, 0);
    /* border-radius: 50%; */
    border: 2px solid black;
    padding: 5px;
    box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.123);
    width: 3vw;
    display: flex; 
    align-items: center;
    justify-content: center;    
    z-index: 1;
    margin-top: -5vw;
    margin-left: 16vw;

  }

  #act-arrow{
    color: white;
  }

  #arrow-btn{
    background-color: black;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
    outline: none;
  }

  .squad-members-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2vw;
    justify-content: center;
    width: auto;
    /* margin-left: 15vw; */
    margin-top: 8vw ;
    margin-left: 3vw;
}


#squad-members-title{
    /* margin-left: 15vw; */
    text-align: center;
    margin-top: 2vw;
}

.connect{
    background-color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 2vw;
    align-items: center;
    margin-top: 4vw;
    width: 80%;
    align-self: center;
    margin-left: 8vw;
    height: 16vw;
    border: 4px solid black;
    box-shadow: 21px 21px 21px rgba(0, 0, 0, 0.342);
}

.connect h2 {
    margin-top: 2vw;
}

.connect button{

    width: 15vw;
    height: 4vw;
    background-color: #BAE6FF;
    border-radius: 40px;
    border: 3px solid black;
    font-weight: 900;
    font-size: 1vw;
}

footer{
    margin-top: 5vw;
    border-top: 2px solid black;
    height: 6vw;
    font-weight: 600;
}
.bot-logo{
    display: flex;
    font-size: 1.4vw;
    column-gap: 0.2vw;
}

.foot-cont{
    display: flex;
    justify-content: space-around;
    margin-top: 2vw;

}

.foot-cont img{
    width: 2vw;
    height: 2vw;
}
  



  