.main-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .header {
    display: flex;
    align-items: center;
    margin: 10px 0;
    font-size: 18px;
    color: #333;
  }
  
  .arrow {
    margin-left: 10px;
    font-size: 18px;
  }
  
  .projects {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  
  .project-card {
    width: 150px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 10px;
  }
  
  .card-content {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .card-icon {
    font-size: 20px;
  }
  
  .and-symbol {
    font-size: 30px;
    margin: 0 10px;
    color: #6A5ACD;
  }
  